  body {
  }

  #root {

  }

  /* Homescreen CSS */
  #homepage {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #homescreen {
    margin: 0 auto;
    background-color: lightblue;
    height: 60vh;
    width: 50vh;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #userHomeInput {
    display: flex;
    align-items: center; 
    flex-direction: column;
    gap: 2vh;
  }

#dropdown-container{
  position: absolute;
  left: 44.8%;
  top: 32%;
  
}
.champ-dropdown {
  background-color: white;
  width: 200px;
  height: 25px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  
  
  
}
.champ-dropdown:hover {
  background-color: lightgray;
  cursor: pointer;
  
}

#dropdown-container {

}

#champion-icon-container {
  height: 128px;
  width: 128px;
  border: 4px solid gold;
}

.dropdownIcon {
  width: 20px;
  margin-left: 5px;
}

.dropdownName {
  margin-left : 5px;
}

#joinGameButton {
  background-color: #53e237;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  opacity: 0.5;
}

#createGame { 
  background-color: blue;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  opacity: 0.5;  
}
.userInput {
  padding: 8px;
  width: 100%;
}

#errors {
  position: absolute;
  margin-left: 1000px;
  background-color: lightcoral;
  border-radius: 8px;
  
}

.error-msg {
  padding-left: 5px;
  padding-right: 5px;
}

/* Playscreen CSS */

#playscreen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#game-information {
  display: flex;
  height: 100px;
  width: 1600px;
  background-color: lightblue;
  margin-bottom: 100px;
  align-self: center;
  border-radius: 16px;
}

#round-number {
  font-size: 36px;

}
#room-code {
  margin-left: 500px;
  font-size: 36px;
}

#timer-display {
  margin-left: 400px;
  font-size: 36px;
}

#bottom-half {
  display: flex;
  flex-direction: row;
}

#scoreboard {
  padding-left: 30px;
  padding-right: 200px;
  width: 100px;
}
#minimap {
  position: relative;
  margin-right: 100px;
  overflow: hidden;
  width: 400px;
  height: 400px;
  border: 2px solid;
  justify-content: center;
  align-items: center;
  display: flex;
}

#minimapview {
  position: relative;
  inset: 0;
  
  
}
#minimapimg {

}
#randomLocation {
  width: 748px;
  height: 560px;
  position: relative;
  border: 4px solid lightgray;
  border-radius: 4px;
}

#randomLocationImg {
  position: absolute;

  width: 748px;
  height:560px;

}

#score {
  margin-left: 50px;
  font-size: 32px;
  width: 200px;
}
#bottom-half {
  display: flex;

}

#playButton {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
}
#backButton {
  margin-top: 10px;
  margin-left: 830px;
}

.start-button {
  margin-left: 10px;
  margin-top: 10px;
}

.start-button:disabled {
  cursor: not-allowed;

}

.guess-button {
  margin-left: 10px;
  margin-top: 10px;
}

.guess-button:disabled {
  cursor:not-allowed;
}
#test {
  position: absolute;
}

.user-pointer img{
  
  height: 15px;
  border-radius: 70%;
  border: black solid 1px;
  
}

.line {
  stroke: black;
  stroke-width: 2;
  stroke-dasharray: 2, 2;
}
/* Transition component css*/

#transition_overlay {
  background: rgb(161, 161, 161, 0.5);
  position: absolute;
  right: 375px;
  bottom: 300px;
  width: 700px;
  height: 400px;
}

#transition_heading {
  text-align: center;
}
.score_from_round {
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
  
  
}

/* Scoreboard component css*/
.ungussed-scoreboard {
  background-color: rgb(211, 211, 211);
  border: 2px solid black;
  width: 225px;
  height: 50px;
  margin-bottom: 8px;
  border-radius: 4px;
  text-align: center;
  display:flex;
}

.guessed-scoreboard {
  background-color: lightgreen;
  border: 2px solid black;
  width: 225px;
  height: 50px;
  margin-bottom: 8px;
  border-radius: 4px;
  text-align: center;
  display: flex;
}

.user-icon {
  clip-path: circle(40%);
  width: 50px;
  margin-right: 10px;
}

/* Game Over Component css */
#gameover-overlay {
  position:fixed;
  inset: 0;
  background: rgba(104, 104, 104, 0.7);
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;
}

#podium {
  display: flex;
  position: relative;
  align-items: flex-end;

}
#firstPlace {
  background-color: gold;
  width:200px;
  height: 400px;
  text-align: center; 
  border-radius: 8px;
}

#secondPlace {
  background-color: silver;
  width: 200px;
  height:250px;
  text-align: center;
  border-radius: 8px;
}

#thirdPlace {
  background-color: #CD7F32;
  width: 200px;
  height: 100px;
  text-align: center;
  border-radius: 8px;
}

#others {
  background-color: white;
  height: 150px;
  width: 600px;
  text-align: center;
  border-radius: 8px;
}

#replay-button {
  margin-top: 50px;
}